<!DOCTYPE html>
<html>
    <body>
        <h1>Add product</h1>
        <form action="/add" method="POST">
        <label for="id">ID of product to add:</label><br>
        <input type="text" id="idID" name="idName" value="Enter a valid ID"><br>

        <label for="quantity">Quantity to add:</label><br>
         <input type="text" id="quantityID" name="quantityName" value="Enter a valid number"><br><br>
         <input type="submit" value="Enter">
        </form>
<br>
       <a href="/home">Back to home</a><br>   
    </body>
</html>