<!DOCTYPE html>
<html>
    <body>
        <h1>Insert a new product</h1>
            <form action="/insert" method="POST">
                <label for="barcode">Barcode:</label><br>
                <input type="text" id="barcodeID" name="barcodeName" value="Enter a valid barcode"><br>

                <label for="id">ID:</label><br>
                <input type="text" id="idID" name="idName" value="Enter a valid ID"><br>

                <label for="price">Price:</label><br>
                <input type="text" id="priceID" name="priceName" value="Enter a valid price"><br>

                <label for="quantity">Quantity:</label><br>
                <input type="text" id="quantityID" name="quantityName" value="Enter a valid number"><br>

                <label for="type">Type:</label><br>
                <input type="text" id="typeID" name="typeName" value="Enter a valid type"><br>
                <br>
                <input type="submit" value="Enter">
              </form>

              <br>
    <a href ="/home">Back to home</a>
    </body>
</html>